
.navbar-inverse {
    background-color : #BD3E85;
}

.navbar-inverse .navbar-nav>li>a {
  color : black;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color : black;
}

.navbar-inverse .navbar-brand {
  color : white;
}

.navbar-inverse .navbar-brand:hover {
  color : #BD3E85;
  background-color:#d3d3d3;
  border : 1px solid black;
}