
.navbar-inverse {
    background-color : #BD3E85;
}

.navbar-inverse .navbar-nav>li>a {
  color : black;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color : black;
}

.navbar-inverse .navbar-brand {
  color : white;
}

.navbar-inverse .navbar-brand:hover {
  color : #BD3E85;
  background-color:#d3d3d3;
  border : 1px solid black;
}

.footer {
  background-color : #d3d3d3;
}

input {
  max-width : 280px;
}

.table-bordered {
  max-width : 360px;
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}