
.navbar-inverse {
    background-color : #BD3E85;
}

.navbar-inverse .navbar-nav>li>a {
  color : black;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color : black;
}

.navbar-inverse .navbar-brand {
  color : whitesmoke;
}

.navbar-inverse .navbar-brand:hover {
  color : #182657;
  border : 3px solid black;
}